Source: puppetboard
Section: admin
Priority: optional
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), dh-python, python (>= 2.7), python3, python-setuptools
X-Python-Version: >=2.7

Package: python-puppetboard
Section: python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-flask, python-flaskext.wtf, python-pypuppetdb (>= 0.2.1),
 libjs-jquery
Description: Puppetboard is a web interface to PuppetDB
 Python 2.7.x files to run and setup Puppetboard
